<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kriptops.n98pos.cardlib"
>

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- solo para master key -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <!-- for Android 11 and lower -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        />
    <!-- needed only for scanning -->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        />

    <!-- for Android 12 and above, include the ones you really need -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

</manifest>